.idea/
*.DS_Store
.DS_Store

# dotenv
.env
env/

# virtualenv
.venv
venv/
ENV/

*.egg-info
*.egg
.eggs
__pycache__/
/venv3.*/

# mypy
.mypy_cache/

.ipynb_checkpoints

setup.py
FMOX-code/Original_Dataset/
FMOX-code/Videos/
FMOX-code/efficientTAM_traj_vis/
FMOX-code/fmov2_outputs/rleTXT_to_video/
FMOX-code/FMOX-Statistics/some_tests/
